<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>

<div class="card p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Gestión de Ordenes</h2>
        <button pButton pRipple label="Nuevo" (click)="openDialog()" icon="pi pi-plus"
            class="p-button-success"></button>
    </div>

    <p-table #dt2 [value]="ordenes()" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
        [reorderableColumns]="ordenes().length"
        [globalFilterFields]="['id','clienteNombre', 'tecnicoNombre','estado', 'descripcion', 'fechaCreacion']"
        responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..." />
                    <i class="pi pi-search px-2"></i>
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width: 7%">
                    ID <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="clienteNombre" style="width: 20%">
                    Nombre Cliente <p-sortIcon field="clienteNombre"></p-sortIcon>
                </th>
                <th pSortableColumn="tecnicoNombre" style="width: 20%">
                    Nombre Tecnico <p-sortIcon field="tecnicoNombre"></p-sortIcon>
                </th>
                <th pSortableColumn="estado" style="width: 15%">
                    Estado <p-sortIcon field="estado"></p-sortIcon>
                </th>
                 <th pSortableColumn="descripcion" style="width: 25%">
                    Descripción <p-sortIcon field="descripcion"></p-sortIcon>
                </th>
                 <th pSortableColumn="fechaCreacion" style="width: 25%">
                    Fecha <p-sortIcon field="fechaCreacion"></p-sortIcon>
                </th>
                <th style="width: 20%">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.clienteNombre }}</td>
                <td>{{ item.tecnicoNombre }}</td>
                <td>{{ item.estado }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.fechaCreacion | date }}</td>
                <td>
                    <div class="d-flex">
                        <p-button icon="pi pi-pencil" (click)="edit(item)" class="px-1" [rounded]="true"
                            severity="success" />
                        <p-button icon="pi pi-trash" (click)="delete(item.id)" [rounded]="true" severity="danger" />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="empty">
            <tr>
                <td colspan="3" class="text-center">No se encontraros registros.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="showDialog" [style]="{ width: '800px' }" header="{{ titleDialog }}" [modal]="true"
    styleClass="p-fluid">
    
    <form [formGroup]="myForm">
        <div class="row g-3 mt-3">
            <div class="col-12 col-md-6">
                <p-floatlabel>
                    <p-select class="form-control w-100" [options]="estados()" [checkmark]="true" optionLabel="label"
                        optionValue="value" [showClear]="true" formControlName="estado" appendTo="body" />
                    <label for="estado">Estados</label>
                </p-floatlabel>
                @if (myForm.get('estado')?.touched && myForm.get('estado')?.invalid) {
                <div class="text-danger small">Este campo es obligatorio</div>
                }
            </div>

            <div class="col-12 col-md-6">
                <p-floatlabel>
                    <input pInputText id="descripcion" autocomplete="off" required="true" class="form-control w-100"
                        formControlName="descripcion" [disabled]="true" />
                    <label for="descripcion">Descripción</label>
                </p-floatlabel>
                @if (myForm.get('descripcion')?.touched && myForm.get('descripcion')?.invalid) {
                <div class="text-danger small">Este campo es obligatorio</div>
                }
            </div>
        </div>

        <div class="row g-3 mt-3">
            <div class="col-12 col-md-6">
                <p-floatlabel>
                    <p-select class="form-control w-100" [options]="tecnicos()" [checkmark]="true" optionLabel="nombreCompleto"
                        optionValue="id" [showClear]="true" formControlName="tecnicoAsignado" appendTo="body" />
                    <label for="tecnicoAsignado">Técnico Asignado</label>
                </p-floatlabel>
                @if (myForm.get('tecnicoAsignado')?.touched && myForm.get('tecnicoAsignado')?.invalid) {
                <div class="text-danger small">Este campo es obligatorio</div>
                }
            </div>

            <div class="col-12 col-md-6">
                <p-floatlabel>
                    <p-select class="form-control w-100" [options]="clientes()" [checkmark]="true" optionLabel="nombreCompleto"
                        optionValue="id" [showClear]="true" formControlName="clienteAsociado" appendTo="body" />
                    <label for="clienteAsociado">Cliente Asociado</label>
                </p-floatlabel>
                @if (myForm.get('clienteAsociado')?.touched && myForm.get('clienteAsociado')?.invalid) {
                <div class="text-danger small">Este campo es obligatorio</div>
                }
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-danger" (click)="hideDialog()">
            Cancelar
        </button>
        <button type="submit" class="p-button-success" (click)="save()">
            Guardar
        </button>
    </ng-template>
</p-dialog>